.drag {
  border: 2px dashed var(--main-color);
  padding: 20vh 20vw;
}

.header-con {
  display: flex;
  align-items: center;
  justify-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  margin: 0 8px;
}

.button-wrapper button {
  display: flex;
  align-items: center;
}

.ant-card-cover {
  height: 13em !important;
}
.image-container {
  height: 100%;
}

@media (max-width: 768px) {
  .button-wrapper {
    margin-left: 0.3em;
    .ant-btn {
      padding: 0.1em 0.3em;
    }
  }
  .drag {
    padding: 20vw;
  }
}
