footer {
  padding: 0 !important;
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .share {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    span {
      margin: 1.2em;
    }
  }
}
