// .owner-event-segment{
//   margin-top: 5%;
// }

// .Sad{
//   img{
//     height: '200px';
//     object-fit :'cover';
//   }
// }
.c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
