.ui {
  &.icon {
    margin: 1em;
    width: 35vw;
  }
}
.temp{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2em;
    width: 100%;

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-top: 1.1em;
    font-size: 1.4em;
    &:hover{
      color:var(--main-color)
    }
  }
}
main{
  justify-content: unset!important;
}
