.ui {
  &.icon {
    margin: 1em;
    width: 35vw;
  }
}
.cards-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  width: 100%;
}

.empty {
  font-size: 1.5em;
  span {
    margin-left: 1em;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-top: 1.1em;
    font-size: 1.4em;
    &:hover {
      color: var(--main-color);
    }
  }
}
main {
  // justify-content: unset!important;
}

@media (max-width: 768px) {
  .empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    text-align: center;
    span {
      width: fit-content;
    }
  }
}
