.bezels-iphone {
    height: 852px;
    position: relative;
    width: 393px;
}

.bezels-iphone .iphone-pro-deep {
    height: 906px;
    left: -27px;
    object-fit: inherit;
    position: absolute;
    top: -27px;
    width: 447px;
}
