// :root {
//   --main-color: #408378
// }

.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-color);
  color:var(--main-color);

  h1 {
    margin-bottom: 24px;
  }
}
