
.main-page{
  h1{
  font-size: larger;
  }
  .apple-signin-button{
    margin: 2em 0;
  }
}
.apple-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 260px;
}

.apple-signin-button:hover {
  background-color: #333;
}

.apple-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.apple-signin-text {
  flex-grow: 1;
  text-align: center;

}

.login-header{
  text-align: center;
}
