html, body {
    margin: 0;
    padding: 0;
  }

.app{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    header{
        // flex: 10;
    }

    .data-con{
        overflow-y: auto;
        flex: 1 0 auto;
        max-height: 80vh;
    }
    
    footer{
        // flex: 1;
        height: 10em;
        overflow: hidden;

    }
}